$screen-width: 1256px;

$color-white: #FFF;
$color-black: #333;
$color-prim: #4a148c;
$color-sec: #ffc400;
$color-green: #00bc8b;
$color-gray: #ccc;
$color-bggray: #eee;
$color-red: #c4002f;
$color-shadow: #272727;

$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;

$font-bold: 700;
$font-semi: 600;
$font-light: 300;
